/node_modules/
/.idea/
/.nx/
/vendor/
yii-app/vendor/
yii-app/runtime/
yii-app/web/assets/*
!yii-app/web/assets/.gitignore
yii-app/data/*.db
yii-app/.env
/mock-bubble-api/node_modules/
/mock-bubble-api/node_modules/
